<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>汇汇生活商家后台-余额提现</title>
    <meta name="keywords" content="汇汇生活-让实体店生意火起来">
    <meta name="description" content="汇汇生活-世界都在用">
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/layui.css" />
    <link rel="stylesheet" href="../../css/will.css" />
</head>
<body>
	<div class="wrapper withdrawal">
		<div class="content">
			<div class="wboxform">
				<div class="withdrawal-info">
					<div class="w-money">账户余额：<b>9999.99元</b></div>
					<div class="w-money">结算中金额：<b>9999.99元</b></div>
					<div class="w-money">提现中金额：<b>9999.99元</b></div>
					<a href="javascript:;" class="record-btn">查看提现记录</a>
				</div>
				<fieldset class="layui-elem-field withdrawal-tips">
					<legend>温馨提示：</legend>
					<div class="layui-field-box">
						1、营业收入款于每天凌晨00:00-03:00通过民生银行系统清算，期间不可申请提现；<br /> 2、单笔提现限额5万元，单卡日累计提现限额10万元；
						<br /> 3、工作日09:30和15:30处理提现，当天15:00前申请提现的24:00前到账，15:30后申请提现第二个工作日到账，如遇周末或法定节假日顺延。
						<br /> 4、单日首次提现免手续费，超出后3元/笔
					</div>
				</fieldset>
				<form class="layui-form">
					<div class="drawal-box">
						<span>&#12288;银行卡</span>
						<div class="drawal-list">
							<ul>
								<li class="active">
									<label>
										<input type="checkbox" />
										<i class="iconfont will-zhengque"></i>
										<img src="../../img/gsyh-img.jpg" />
									</label>
									<p>622 **** **** 3333</p>
								</li>
								<li>
									<label>
										<input type="checkbox" />
										<i class="iconfont will-zhengque"></i>
										<img src="../../img/gsyh-img.jpg" />
									</label>
									<p>622 **** **** 3333</p>
								</li>
								<li>
									<label>
										<input type="checkbox" />
										<i class="iconfont will-zhengque"></i>
										<img src="../../img/gsyh-img.jpg" />
									</label>
									<p>622 **** **** 3333</p>
								</li>
								<li>
									<label>
										<input type="checkbox" />
										<i class="iconfont will-zhengque"></i>
										<img src="../../img/gsyh-img.jpg" />
									</label>
									<p>622 **** **** 3333</p>
								</li>
								<li>
									<label>
										<input type="checkbox" />
										<i class="iconfont will-zhengque"></i>
										<img src="../../img/gsyh-img.jpg" />
									</label>
									<p>622 **** **** 3333</p>
								</li>
								<li>
									<label>
										<input type="checkbox" />
										<i class="iconfont will-zhengque"></i>
										<img src="../../img/gsyh-img.jpg" />
									</label>
									<p>622 **** **** 3333</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="layui-form-item" style="margin-top: 10px;">
						<label class="layui-form-label">提现金额</label>
						<div class="layui-input-inline" style="width: 175px;">
							<input type="text" class="layui-input" placeholder="请输入提现金额">
						</div>
						<div class="layui-input-inline" style="line-height: 32px;color: #666;padding-left: 10px;">
							本次最多可提现<span style="padding:0 3px;font-weight:bold;color: #FF5722;">100</span>元
						</div>
					</div>
					<div class="layui-form-item" style="margin-top: 5px;">
						<label class="layui-form-label">提现费用</label>
						<div class="layui-input-inline" style="line-height: 32px; color: #666;">
							3元/笔（单日已超出免费提现次数）
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">实收金额</label>
						<div class="layui-input-inline" style="line-height: 32px; color: #666;">
							1252元
						</div>
					</div>
					<div class="layui-form-item" style="margin-top: 5px;">
						<label class="layui-form-label">交易密码</label>
						<div class="layui-input-inline" style="width: 175px;">
							<input type="password" class="layui-input" placeholder="请输入交易密码">
						</div>
					</div>
					<div class="layui-form-item" style="margin-top: 5px;">
						<label class="layui-form-label">&#12288;&#12288;&#12288;&#12288;</label>
						<input type="button" class="layui-btn layui-btn-small layui-btn-normal unit-btn" value="确定提现">
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../../js/layer/layer.min.js" ></script>
	<script type="text/javascript" src="../../js/layui.js" ></script>
	<script type="text/javascript" src="../../js/withdrawal.js"></script>
</body>
</html>