<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>汇汇生活商家后台-会员卡模板设置</title>
    <meta name="keywords" content="汇汇生活-让实体店生意火起来">
    <meta name="description" content="汇汇生活-世界都在用">
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/layui.css" />
    <link rel="stylesheet" href="../../css/will.css" />
</head>
<body>
	<div class="wrapper">
		<div class="content">
			<div class="wbox">
				<div class="wbox-title">
					<h5>会员卡模板设置</h5>
					<div class="ibox-tools">
						<a class="btn-shuaxin" href="javascript:location.replace(location.href);" title="刷新">
							<i class="iconfont will-shuaxin"></i>
						</a>
					</div>
				</div>
				<div class="wbox-content meb-tem">
					<form class="layui-form layui-form-pane">
						<fieldset class="layui-elem-field layui-field-title">
							<legend>商家logo</legend>
						</fieldset>
						<div class="mt-item">
							<div class="site-upload">
								<img src="../../img/icon_card.png">
								<div class="site-upbar">
									<div class="site-upbar-box">
								    	<input name="file" class="layui-upload-file" id="test" type="file">
								    	<span>上传图片</span>
							    	</div>
								</div>
							</div>
							<p>logo为png格式，图片大小不得超过30k</p>
						</div>
						<fieldset class="layui-elem-field layui-field-title">
							<legend>注册页背景图</legend>
						</fieldset>
						<div class="mt-item">
							<div class="site-upload">
								<img src="../../img/tem-bg.png">
								<div class="site-upbar">
									<div class="site-upbar-box">
								    	<input name="file" class="layui-upload-file" id="test" type="file">
								    	<span>上传图片</span>
							    	</div>
								</div>
							</div>
							<p>jpg或png格式均可，图片宽度控制为750px，高度大于等于1334px，图片大小不得超过200k</p>
						</div>
						<fieldset class="layui-elem-field layui-field-title">
							<legend>会员卡图片</legend>
						</fieldset>
						<div class="mt-item">
							<div class="site-upload">
								<img src="../../img/card.png">
								<div class="site-upbar">
									<div class="site-upbar-box">
								    	<input name="file" class="layui-upload-file" id="test" type="file">
								    	<span>上传图片</span>
							    	</div>
								</div>
							</div>
							<p>jpg或png格式均可，图片宽度控制为690px，高度大于等于330px，图片大小不得超过100k</p>
						</div>
						<fieldset class="layui-elem-field layui-field-title">
							<legend>我的优惠券背景图（未使用）</legend>
						</fieldset>
						<div class="mt-item">
							<div class="site-upload">
								<img src="../../img/tem-bg1.png">
								<div class="site-upbar">
									<div class="site-upbar-box">
								    	<input name="file" class="layui-upload-file" id="test" type="file">
								    	<span>上传图片</span>
							    	</div>
								</div>
							</div>
							<p>jpg或png格式均可，图片宽度控制为690px，高度大于等于200px，图片大小不得超过30k</p>
						</div>
						<fieldset class="layui-elem-field layui-field-title">
							<legend>我的优惠券背景图（已使用、已过期）</legend>
						</fieldset>
						<div class="mt-item">
							<div class="site-upload">
								<img src="../../img/tem-bg2.png">
								<div class="site-upbar">
									<div class="site-upbar-box">
								    	<input name="file" class="layui-upload-file" id="test" type="file">
								    	<span>上传图片</span>
							    	</div>
								</div>
							</div>
							<p>jpg或png格式均可，图片宽度控制为690px，高度大于等于200px，图片大小不得超过30k</p>
						</div>
						<fieldset class="layui-elem-field layui-field-title">
							<legend>积分商城-优惠券图片</legend>
						</fieldset>
						<div class="mt-item">
							<div class="site-upload">
								<img src="../../img/dian_icon.png">
								<div class="site-upbar">
									<div class="site-upbar-box">
								    	<input name="file" class="layui-upload-file" id="test" type="file">
								    	<span>上传图片</span>
							    	</div>
								</div>
							</div>
							<p>jpg或png格式均可，图片宽度控制为190px，高度大于等于190px，图片大小不得超过20k</p>
						</div>
						<fieldset class="layui-elem-field layui-field-title">
							<legend>优惠券详情背景图</legend>
						</fieldset>
						<div class="mt-item">
							<div class="site-upload">
								<img src="../../img/bg_dian.png">
								<div class="site-upbar">
									<div class="site-upbar-box">
								    	<input name="file" class="layui-upload-file" id="test" type="file">
								    	<span>上传图片</span>
							    	</div>
								</div>
							</div>
							<p>jpg或png格式均可，图片宽度控制为750px，高度大于等于420px，图片大小不得超过30k</p>
						</div>
						<div class="layui-form-item" style="margin-top: 15px;">
							<input type="button" class="layui-btn layui-btn-small layui-btn-normal add-hbtn" value="保存" />
							<input type="reset" class="layui-btn layui-btn-small layui-btn-primary" value="重置" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/layer/layer.min.js"></script>
	<script type="text/javascript" src="../../js/layui.js"></script>
	<script type="text/javascript" src="../../js/My97DatePicker/WdatePicker.js"></script>
</body>
</html>