<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>汇汇生活商家后台-门店信息</title>
    <meta name="keywords" content="汇汇生活-让实体店生意火起来">
    <meta name="description" content="汇汇生活-世界都在用">
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="../../css/layui.css" />
    <link rel="stylesheet" href="../../css/will.css" />
</head>
<body>
	<div class="wrapper">
		<div class="content storeInfo-content">
			<div class="wbox">
				<div class="wbox-title">
					<h5>门店信息</h5>
					<div class="ibox-tools">
						<a class="btn-shuaxin" href="javascript:location.replace(location.href);" title="刷新">
							<i class="iconfont will-shuaxin"></i>
						</a>
					</div>
				</div>
				<div class="wbox-content">
					<div class="storeInfo-left">
						<fieldset class="layui-elem-field storeInfo-box">
							<legend>基本信息</legend>
							<div class="layui-field-box">
						    	<p><b>门店名称：</b>汇汇生活品牌店</p>
						    	<p><b>门店编码：</b>48889797</p>
						    	<p><b>门店地址：</b>广东省东莞市南城区会展北路鸿发大厦2楼</p>
						    	<p><b>&#12288;&#12288;电话：</b>400-0303-236</p>
						    	<p><b>经营品类：</b>烘焙</p>
							</div>
						</fieldset>
						<fieldset class="layui-elem-field storeInfo-box">
							<legend>二维码：</legend>
							<div class="layui-field-box">
						    	<img src="../../img/ewm.gif" height="200" />
							</div>
						</fieldset>
					</div>
					<div class="storeInfo-right">
						<fieldset class="layui-elem-field storeInfo-box">
							<legend>门店首图：</legend>
							<div class="layui-field-box">
						    	<img src="../../img/store-img.jpg" style="max-width: 100%;max-height: 413px;" />
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>