form,p,h1,h2,h3,h4,ul{padding:0;margin:0;}
hr{ color:#888888; height:1px;}
li{
	list-style-type: none;
}
img,input,select{
	vertical-align: middle;
}
.bodydiv
{
	background-color: #ffffff;
	padding: 0px;
	margin:8px;
}
form
{
	padding: 0;
	margin: 0;
}
.header{ margin:10px 0 4px 0;padding:4px 0 4px 4px;}
.bodycontentdiv
{
	margin: 0;
}
.bodycontentdiv img, .bodycontentdiv td img
{
	vertical-align: middle;
}
.bodytitlediv
{
	margin: 0px 0px 8px 0;
	padding: 0px 4px;
	line-height: 24px;
	font-weight: bold;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px solid #cccccc;
}

.search
{
	margin: 0;
	padding: 0px 0px;
}
.bottomborder{ border-bottom:1px solid #cccccc;}
.textbox{
	background: url(../images/input-bg.png) white no-repeat 0px 0px;
    border: #a7a6aa 1px solid;
    color: #333;
    padding: 2px 0px;
    padding-left: 2px;
    height: 16px;
}
.textarea {
    background: url(../images/input-bg.png) white no-repeat 0px 0px;
    border: #a7a6aa 1px solid;
    color: #333;
    padding: 2px 0px;
    padding-left: 2px;
}
/*****************************列表***************************************/

.DataGrid_Header
{
	/*border: 1px #FFFFFF solid;
	background-color: #FFFFFF;
	line-height: 130%;
	background-image: url(/iv6System/images/level2Bg.gif);
	background-position: bottom;
	background-repeat: repeat-x;*/

	color: #5c4a35;
}
.DataGrid_Header td,.DataGrid_Header th {
 height:28px;
 line-height:28px;
text-align: left;
white-space: nowrap;
background: url(../images/bg.gif) repeat-x 0 -389px;
text-align:center;
color:#5c4a35;
}

.DataGrid_AlvternatingItem, .DataGrid_AlvternatingItem td
{
    border: 1px #FFFFFF solid;
    background-color: #fff;
    text-align: center;
}
.DataGrid_SelectedItem, .DataGrid_SelectedItem td
{
    border: 1px #FFFFFF solid;
    background: #DAE7F3 !important;
    text-align: center;
}
.DataGrid_SelectedItem1, .DataGrid_SelectedItem1 td
{
    border: 1px #FFFFFF solid;
    background: #DAE7F3 !important;
    text-align: center;
}
.DataGrid_SelectedItems, .DataGrid_SelectedItems td {
    background: none repeat scroll 0 0 #dae7f3 !important;
    border: 1px solid #ffffff;
    text-align: right;
}
.DataGrid_Item, .DataGrid_Item td
{
    border: 1px #FFFFFF solid;
    background-color: #fff;
    text-align: center;
}
.DataGrid_Item1, .DataGrid_Item1 td
{
    border: 1px #FFFFFF solid;
    background-color:Orange;
    text-align: center;
}
.DataGrid_Items, .DataGrid_Items td
{
    border: 1px #FFFFFF solid;
    background-color: #fff;
    text-align: right;
}
table.DataGrid_Table
{
    background-color: #e0dcce;
}
/**************************************************************************/

input,select
{
	border-top-width: 1px;
	border-left-width: 1px;
	font-size: 12px;
	border-bottom-width: 1px;
	border-right-width: 1px;
}

.tdrow, .tdrow td
{
	border: 1px #FFFFFF solid;
	background-color: #EEF7FD;
}
.tdraw, .tdraw td
{
	border-bottom: 1px #FFFFFF solid;
	border-top: 1px #FFFFFF solid;
	border-right: 1px #FFFFFF solid;
	background-color: #E4EDF9;
	line-height: 130%;
}
.formtable
{
	background-color: #fff;
}
/*.StandardButton,.landingButton{
	font-size:12px;
	text-align:center;
	cursor:pointer;
	height:20px;
	line-height:20px;
	padding-right: 8px;
	padding-left: 8px;
}*/
.StandardButton, .landingButton
{
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	padding-right: 8px;
	padding-left: 8px;
	color: #FFFFFF;
	background-image: url(/iv6System/images/skin/buttonbg.gif);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.list
{
	border:1px solid #dddddd;
}
.selectlist{line-height:1.6em;}
.selectlist ul li{}
.selectlist ul li a
{
	margin:2px;
	background-color:#F2F2F2;
	padding:4px;
	display:block;
}
.selectlist ul li a:hover
{
	background-color:#DAE7F3;
	text-decoration: none;
}
	
.button{
	border-color: #FFFFFF #555555 #555555 #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
	height: 25px;
    line-height: 10px;
    padding: 2px 8px;
}
.delete{
	
	background-color: red;
    background-image: url("/iv6System/images/buttonred.png");
    color: #FFFFFF;
}
.edit {
    background-color: green;
    background-image: url("/iv6System/images/buttongreen.png");
    color: #FFFFFF;
}
.save {
    background-color: green;
    background-image: url("/iv6System/images/buttongreen.png");
    color: #FFFFFF;
}
.cancel {
    background-color: orange;
    background-image: url("/iv6System/images/buttonorange.png");
    color: #FFFFFF;
}
.create {
    background-color: #99C53D;
    /*background-image: url("/iv6System/images/toolbar-bg.png");*/
    background-image: url("/iv6System/images/buttongreen.png");
    color: #fff;
    font-weight: bold;
    border: 1px solid #99C53D;
    height: 25px;
    padding-bottom: 5px;
    padding-top: 4px;
}

.Pagination
{
	margin: 8px 4px 4px 4px;
}
.footdiv
{
	margin: 8px 4px 4px 4px;
}

/*******************导行选择卡样式********************/

#car ul{
	height:34px;
	background-image: url(../images/border.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #eeeeee;
}

#car li{ height: 28px; float:left; text-align:center; width:100px; line-height:28px;margin-top:5px;}
#car li a{ font-weight:bold; font-size:14px;}
#car li.first{ width:20px!important;}
#car li.selected{
	background-color: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #a0a0a0;
	border-right-color: #a0a0a0;
	border-left-color: #a0a0a0;
}

.Card
{
	height: 24px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #2186C6;
	margin-bottom: 12px;
}
.Card a, .Card a:visited, .Card a:hover
{
	text-decoration: none;
	color: #FFFFFF;
}
.Card, .Card ul, .Card ul li
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style-image: none;
}
.Card ul li
{
	height: 20px;
	width: 80px;
	float: left;
	text-align: center;
	vertical-align: middle;
	background-color: #2186C6;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	line-height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(/iv6System/images/skin/buttonbg.gif);
}
.SelectCart
{
	height: 22px !important;
	width: 80px;
	float: left;
	text-align: center;
	vertical-align: middle;
	background-color: #2186C6;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 0px !important;
	line-height: 22px !important;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(/iv6System/images/skin/buttonbg.gif);
}
/*******************导行选择卡样式********************/

/*******************导行选择卡样式2********************/
.content-tab-wrap {
height: 38px;
}
.content-tab {
z-index: 3;
left: 15px;
right: 15px;
height: 36px;
background: #fff;
border-bottom: 1px solid #e2e2e5;
}
.content-tab-ul-wrap {
position: relative;
}
.content-tab ul {
position: absolute;
left: 0;
top: 5px;
}
.content-tab ul li {
position: relative;
display: block;
float: left;
margin-right: -1px;
}
.content-tab ul li a {
float: left;
padding: 0 25px;
border-top: 1px solid #e1e1e1;
border-right: 1px solid #e1e1e1;
border-left: 1px solid #e1e1e1;
height: 30px;
line-height: 31px;
font-size: 12px;
color: #333;
text-align: center;
background: #f9f9f9;
}
.content-tab ul li a.selected {
color: #222;
background: #fff;
height: 31px;
}
.tab-content {
padding: 20px;
font-size: 12px;
color: #666;
border: 1px solid #e1e1e1;
border-top: none;

}
/*******************end导行选择卡样式2********************/


/************编辑页***********/
.page-footer {
padding: 10px 0;
height: 32px;
}
.page-footer .btn-list {
position: fixed;
padding: 10px 0;
left: 15px;
right: 15px;
bottom: 0;
z-index: 3;
background: #fff;
}
/************end编辑页***********/

/***************图标层**************/
#divicon a, #divicon a:visited
{
	border: 1px solid #fff;
	margin: 4px 0px 0px 4px;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
}
#divicon a img
{
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
#divicon a:hover
{
	border: 1px solid #ff9900;
	margin: 4px 0px 0px 4px;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
}
/***************end 图标层**************/
.pageerrordiv{ color:Red;padding: 4px; font-size:12px;}

/*-------------------Container----------------------*/
.Container
{
	border: 1px solid #FFFFFF;
}
.Containertop
{
	background-image: url(/iv6System/images/skin/01_14.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 25px;
	line-height: 25px;
}
.Containertop td img
{
	vertical-align: -20% !important;
	margin: 4px 0;
}
.Containertitle
{
	line-height: 22px;
	font-weight: bold;
	background-image: url(/iv6System/images/skin/01_17.gif);
	text-align: center;
	height: 22px;
	width: 77px;
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-top: 3px;
}
.ContainerContent
{
	margin: 0px;
}
